FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=False
DATA_PATH=project/data/dataset.xlsx
ARTEFAKTS_PATH=artefakts/
CONFIG_PATH=project/configs/s_config.json
DEVICE_CONFIG_PATH=project/configs/device_config.json
